.leaflet-popup-content{
  width:400px;
  font: 400 16px 'Nunito', sans-serif;

}

.leaflet-popup-content popup p {
  margin: 0
}

.leaflet-popup-content popup div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.leaflet-popup-content popup h2:not(:nth-child(1)){
  margin-top:10px
}