#page-map aside {
  width: 220px;
  height: 60vh;
  background: #F8F8F8;
  border: 1px solid #E5E5E5;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05);
  border-radius: 0px 40px 40px 0px;
  position: fixed;
  z-index: 998!important;
  top: 3%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 24px
}



#page-map aside img {
  width: 176px
}
#page-map aside main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px
}
#page-map aside main div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 24px 0px;
  color: #BBB5BD;
  transition: .5s;
}
#page-map aside main div:hover{
  color: #6AC0FF;
  cursor: pointer;
}

#page-map aside main div span{
  font-size: 24px;
  font-weight: 600;
  line-height: 26px;
  margin-top: 6px;
}

#page-map aside h2 {
  font-size: 40px;
  font-weight: 600;
  line-height: 42px;
  margin-top: 64px;
}

#page-map aside p {
  line-height: 28px;
  margin-top: 24px;
}

#page-map aside footer {
  display: flex;
  flex-direction: column;
  
  line-height: 24px;
}

#page-map aside strong {
  font-weight: 800;
}

.open-menu {
  position: fixed;
  z-index: 1000;
  bottom: 60px;
  left:20px;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #F8F8F8;
  border: 1px solid #E5E5E5;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  cursor: pointer
}


.menu-button{

  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #F8F8F8;
  border: 1px solid #E5E5E5;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  cursor: pointer
}